# ln -s ~/dotfiles/vim_snippets/_.snippets ~/.vim/snippets/_.snippets

snippet today
	`strftime("%a %d %b %Y")`

snippet tomorrow
	`strftime("%a %d %b %Y", strftime("%s")+86400)`

snippet yesterday
	`strftime("%a %d %b %Y", strftime("%s")-86400)`

snippet monday
	`strftime("%a %d %b %Y", strftime("%s") + (8 - strftime('%u'))  * 86400)`
